.authorpage section[role=main] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    /* This sets the main area to fill the full screen (overlapping the header).
       This will create a cleaner looking semantic zoom animation and allow you to swipe anywhere to scroll,
       but we have to set margins properly on the list views to account for the header*/
}

.authorpage .groupeditemslist {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

    /*Sometimes we have to get extra specific due to ui.css's selectors*/
    .authorpage .groupeditemslist .win-horizontal.win-viewport .win-surface {
        margin-bottom: 6rem;
        margin-left: 4.5rem;
        margin-right: 11.5rem;
        margin-top: 12.8rem;
    }

    .authorpage .groupeditemslist .win-groupheader {
        padding: 0;
    }

    /* Use grid and top level layout for truncation */
    .authorpage .groupeditemslist .group-header {
        -ms-grid-columns: minmax(0, max-content) .7rem max-content;
        -ms-grid-rows: max-content;
        display: -ms-inline-grid;
        line-height: 1.5;
    }

    /* Override default button styles */
    .authorpage .groupeditemslist .group-header, .group-header:hover, .group-header:hover:active {
        background: transparent;
        border: 0;
    }

        .authorpage .groupeditemslist .group-header .group-title {
            display: inline-block;
        }

    .authorpage .groupeditemslist .item {
        display: block;
        height: 9rem;
        width: 25rem;
    }
    .authorpage .groupeditemslist:nth-of-type(odd) .item {
        background: rgba(230, 30, 30, .9);
    }
    .authorpage .groupeditemslist:nth-of-type(even) .item {
        background: rgba(30, 230, 230, .9);
    }

        .authorpage .groupeditemslist .item .item-image {
        }

        .authorpage .groupeditemslist .item .item-overlay {
            -ms-grid-row: 2;
            -ms-grid-rows: 1fr 2.1rem;
            height: calc(100% - .8rem);
            background: rgba(250, 250, 250, 0.15) left top no-repeat;
            background-size: contain;
            display: -ms-grid;
            padding: .6rem 1.5rem .2rem 1.5rem;
        }

            .authorpage .groupeditemslist .item .item-overlay .item-title {
                -ms-grid-row: 1;
                color: rgba(255, 255, 255, 0.87);
                overflow: hidden;
                width: 100%;
                box-sizing: border-box;
                padding-left: 8.5rem;
            }

            .authorpage .groupeditemslist .item .item-overlay .item-subtitle {
                -ms-grid-row: 2;
                color: rgba(255, 255, 255, 0.6);
                width: 100%;
                box-sizing: border-box;
                padding-left: 8.5rem;
            }

@media screen and (min-width: 50em) {
    .authorpage .groupeditemslist .item {
        height: 11rem;
        width: 37.5rem;
    }
        .authorpage .groupeditemslist .item .item-overlay .item-title {
            padding-left: 10.5rem;
        }
        .authorpage .groupeditemslist .item .item-overlay .item-subtitle {
            padding-left: 10.5rem;
        }
}

@media screen and (-ms-high-contrast) {
    .authorpage .groupeditemslist .item .item-overlay {
        color: WindowText;
    }
}
