.itemdetailpage section[role=main] {
    padding-right: 2400rem;
}

.main-article {
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
}
.main-article article {
    display: inline-block;
    box-sizing: border-box;
    column-fill: auto;
    column-width: 30rem;
    column-gap: 5rem;
    height: 100%;
    width: 100%;
    margin-left: 12rem;
    margin-right: 12rem;
    padding: 3rem 0;
}
    .main-article .author {
        width: 100%;
        height: 10rem;
        margin-bottom: 4.0rem;
        background: rgba(230, 30, 30, .8) left top no-repeat;
        background-size: contain;
    }
    
        .main-article .author .details {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            padding-left: 11rem;
            display: flex;
            flex: 1;
            justify-content: flex-start;
            align-items: center;
        }

            .main-article .author .details .name {
                color: rgb(250, 250, 250);
                font-size: 16pt;
                padding-bottom: 0;
            }

    .main-article p {
        margin: 0;
        padding-bottom: 2rem;
        break-inside: avoid;
    }
    .main-article blockquote,
    .main-article ol,
    .main-article ul,
    .main-article li {
        margin-top: 0;
        margin-bottom: 0;
    }
    .main-article li {
        padding-bottom: 2rem;
    }
    .main-article h1,
    .main-article h2,
    .main-article h3,
    .main-article h4,
    .main-article h5,
    .main-article h6,
    .main-article h7 {
        font-weight: 600;
        font-size: 11pt;
        line-height: 1.3636;
        padding-bottom: 2rem;
    }
